{%extends 'base.html'%}
{% load static %}
{% load bootstrap3 %}
{% block content %}
<style>
    .fadeoverlay {
        position: relative;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-image: linear-gradient(rgba(245, 242, 242, 0.5), navy);
    }

    .fadeoverlay:hover .overlay {
        opacity: 1;
    }

    .img-responsive {
        display: block;
        width: 100%;
        height: auto;
    }
</style>
<div class="container">
    <div id="home">
        <div id="overlay" class="row">
            <div class="intro col-md-12 text-center ">
                <h1 id="welcome_text">Welcome to La PJwards</h1>
                <hr>
                <h3 id="description">Home of Awwards</h3>
                <hr>
                <a href="{% url 'post_prj' %}"> <input type="button" class="btn btn-info " value="Post Project"></a>

            </div>
        </div>
    </div>
    <h1 class='text-center' style="font-style: italic;">My Projects</h1>
    <div class="container">
        <hr />
        {% for project in projects%}
        <div class="col-lg-3">
            <div style="background-color: rgb(250, 246, 246);box-sizing: border-box; margin-top:5%">
                <div class="fadeoverlay">
                    <a href="{% url 'viewProject' id=project.id %}">
                        <img src="{{project.image.url}}" class="img-responsive" alt="{{image.name}}"
                            style="width:100%;width:100%">
                        <div class="overlay">
                        </div>
                    </a>
                </div>
                <div class="row" style="padding-top: 5%">
                    <div class="col-md-12">
                        <p><a href="{{project.url}}"
                                class="text-right" style="text-decoration: none;"> {{project.title}} <img src="https://img.icons8.com/color/48/000000/circled-up-right--v1.png"
                                    style="width:15px;height:auto" />
                            </a></p>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 5% ;font-size:10pt">
                    <div class="col-md-6" style="padding-bottom: 5% ;font-size:10pt"> By: {{project.user.username}}</div>
                    <div class="col-md-6">{{project.date|date:"M d, Y" }} </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>

</div>
<footer class="footer">
    <p class="text-center">© Joy Kolia 2021. All Rights Reserved</p>
</footer>

{% endblock %}